@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito:ital,wght@0,600;1,400&family=Roboto+Slab:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-bar {
  height: 50px;
  font-family: "Roboto Slab", serif;
  box-shadow: 1px 1px 5px 0px gray;
  justify-content: center;
}

input[type="checkbox"] {
  display: none;
}

nav label {
  display: none;
  height: 20px;
}

label i {
  height: 100%;
}

.nav-menu {
  gap: 5vw;
  font-size: larger;
  max-width: 900px;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.nav-item {
  position: relative;
  z-index: 2;
}

.nav-item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  z-index: -1;
  transform-origin: right;
}

.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

.icons {
  color: black;
}
.contact-logo,
.cart-logo {
  width: 33px;
  height: 33px;
  padding: 3px;
}

.logos-container {
  right: 15px;
  gap: 10px;
  top: 13px;
}

main {
  font-family: "Montserrat", sans-serif;
}

.banner-conatiner {
  background: url("./property/img1.jpg");
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10vw;
}

.banner-heading {
  background-color: rgba(233, 106, 106, 0.562);
  color: white;
  padding: 1.5rem;
  max-width: 650px;
  height: max-content;
}

.banner-h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}

.item-conainer {
  min-height: 500px;
  padding: 8vw;
  background-image: linear-gradient(to right, hotpink, #ffdd5a);
}

h1 {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  color: white;
}

.products-container {
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.card {
  width: 280px;
  background-color: white;
  border-radius: 0 60px;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  color: black;
}

.card img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: calc(60px - 20px);
}

h3 {
  text-align: center;
  font-weight: bolder;
  font-size: large;
  letter-spacing: 2.5px;
}

.card p {
  text-align: center;
  padding: 0;
  height: 40px;
  width: 100%;
}

.order-btn {
  display: block;
  margin: 50px auto 0;
  padding: 20px 60px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.bg-white {
  background-color: white;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.inline-block {
  display: inline-block;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.pos-sticky {
  position: sticky;
  top: 0;
}
@media screen and (width <=1012px) {
  .logos-container {
    position: fixed;
    flex-direction: column-reverse;
    bottom: 15px;
    top: unset;
  }
}

@media screen and (width <= 620px) {
  .nav-bar {
    justify-content: end;
  }

  nav label {
    display: block;
    margin-right: 15px;
  }

  ul {
    font-size: large;
    position: absolute;
    left: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 51, 51, 0.98);
    gap: 2em;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    transition: 0.5s;
  }

  nav a {
    color: white;
  }

  input[type="checkbox"]:checked ~ ul {
    left: 0;
  }

  .order-btn {
    padding: 10px 30px;
    font-size: 15px;
  }

  .nav-item::before {
    background-color: brown;
  }
}

@media screen and (width <= 425px) {
  .banner-h2 {
    font-size: 30px;
  }

  .card {
    width: 250px;
  }

  .card img {
    width: 210px;
    height: 210px;
  }
}
